@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

root {
  --Old-Brick: #9a1c22;
  --Aubergine: #350a0e;
  --Anzac: #e1bb3e;
  --Rose-Fog: #e9c5b5;
  --Cinnabar: #e35436;
  --Black: #000000;
  --White: #ffffff;
  --font-family-headings: 'Gloock', serif;
  --font-family-body: 'Merriweather', serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.gloock {
  font-family: "Gloock", serif;
  font-weight: 400;
  font-style: normal;
}


.merriweather {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


h1{
  font-family: "Gloock", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
  margin: 0;
  color: var(--White);
}

h2{
  font-family: "Gloock", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  margin: 0;
  color: var(--White);
}

h3{
  font-family: "Gloock", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  margin: 0;
  color: var(--White);
}

body{
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  margin: 0;
  letters-spacing: 0.6px;
  line-height: normal;
  color: var(--White);
}