.admin-form-container {
    width: 100%;
    min-height: 81vh;
    padding-top: 5vh;
}

.admin-form-column {
    text-align: left;
}

.admin-form-heading {
    color: #DDAC7D;
    font-size: 3rem;
}

.admin-form-input-component {
    border: none;
    background-color: black;
    border-radius: 5rem;
    border-color: #DDAC7D;
    border-width: 0.125rem;
    color: white;
    border-style: solid;
    padding-left: 1vw;
    padding-right: 1vw;
    margin-top: 2vh;
    margin-bottom: 1vh;
}