.cart-item {
  border-bottom: 1px solid #eee;
  color: white;
}

.cart-product-info {
  display: flex;
  align-items: center;
}


.cart-product-info img{
    height: 50px;
    width: 50px;
    margin-right: 10px;
}

.product-details {
  display: flex;
  flex-direction: column;
}

.product-details span {
  font-weight: 500;
}

.remove-btn {
  background: none;
  border: none;
  color: #d9534f;
  font-size: 0.85rem;
  margin-top: 4px;
  cursor: pointer;
  padding: 0;
  text-align: left;
}

.remove-btn:hover {
  text-decoration: underline;
}

.quantity-cart button{
  
  all: unset;              /* Remove all default button styles */
  display: inline-block;   /* Make it behave like a button */
  background-color: #ff6600; /* Orange color */
  color: white;            /* White text */
  padding: 5px 10px;      /* Some padding */
  border-radius: 50px;     /* Rounded borders */
  text-align: center;
  cursor: pointer;
  font-weight: 600;
  user-select: none;       /* Prevent text selection on click */
  transition: background-color 0.3s ease;
}

.quantity-cart button:hover {
  background-color: #FDB964; 
  color: black;
}

.quantity-cart button:active {
  background-color: red;
  color: white;
}
