.weapon-choice-container {
  display: flex;
  width: 50vh;
  flex-direction: row;
  /* Allow wrapping if needed */
  justify-content: space-around; /* optional layout choice */
}


.weapon-img-stack {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10px;
  
}

.weapon-img-stack img{
    width: 70%;
}

/* Button styles */
.weapon-choice-container button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  display: inline-block;
}

/* Image styles */
.weapon-img {
  width: 100%;
  padding: 10px;
  transition: transform 0.3s ease;
  transform: scale(1);
}

.weapon-img:hover {
  transform: scale(1.1);
}

.weapon-selected-text{
    color: #F3B86D;
}

@media screen and (max-width:768px){
  .weapon-choice-container{
    flex-direction: column;
    width: 100%;
  }
  .weapon-img{
    width: 5vh;
  }
}