.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 298px;
    flex-shrink: 0;
    width: 100%;
    background: #120204;
    box-shadow: inset 0 30px 100px #000;
    margin-bottom: 0px;
} 

.footer-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-top: 29px;
}

.footer-links a{
    text-decoration: none;
    color: var(--White);
    /* margin-right: 20px; */
    margin-top: 8px;
    transition: all 0.1s ease;
}

.footer-links a:hover{
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color:rgb(183, 77, 82);
    -webkit-text-fill-color: var(--Anzac);
}

.footer-logo{
    margin-left: 111px;
    width: 138px;
    height: 207px;
    flex-shrink: 0;
    cursor: pointer;
}

.footer-socials{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-right: 111px;
    width: 140px;
    margin-top: 182px;

}

.social-icon{
    cursor: pointer;
    margin-top: 19px;
}

.social-icon:hover{
    transform: scale(1.1);
    transition: all 0.2s ease;
}
